configure.in
configure
config.log
config.guess
config.sub
config.h
config.h.in
config.status
depcomp
install-sh
libtool
*.a
*.o
ltmain.sh
mr/
missing
stamp-h1
test1
.deps/
Makefile
Makefile.in
autoscan.log
compile
aclocal.m4
autom4te.cache/
m4/
